.song {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;

  .play-controls, .time, .bpm, .beat, .track-add {
    margin: 1rem 1rem 0 1rem;
  }

  .label {
    margin: 1rem 1rem 0 1rem;
  }
}