$primary-lighter: hsl($themehue, 80%, 90%);
$primary-light: hsl($themehue, 80%, 80%);
$primary: hsl($themehue, 80%, 70%);
$primary-darkest: hsl($themehue, 2%, 25%);

$gray-lightest: hsl($themehue, 4%, 80%);
$gray-lighter: hsl($themehue, 4%, 70%);
$gray-light: hsl($themehue, 4%, 50%);
$gray: hsl($themehue, 4%, 45%);
$gray-dark: hsl($themehue, 4%, 40%);
$gray-darker: hsl($themehue, 4%, 35%);
$gray-darkest: hsl($themehue, 4%, 30%);
