#root {
  color: $gray-lightest;
  font-family: $font-family-primary;
}

a {
  color: $primary;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.text {
  &-small {
    font-size: 0.5rem;
  }
}