#root {
  & * {
    box-sizing: border-box;
  }

  .tracks {
    .track {
      align-items: flex-start;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 10px;

      &-config {
        flex-shrink: 1;
        width: 175px;

        &-oscillator-frequency {
        }
      }

      .beats {
        flex-grow: 1;
      }
    }
  }

  .beats {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;

    .beat {
      width: 64px;
      height: 65px;

      border: 2px black solid;
      background-color: grey;
      cursor: pointer;

      margin: 0 10px;

      transition: all .3s ease;

      &.active {
        background-color: blue;
      }

      &.current {
        border-color: red;
      }

      &.active.current {
        background-color: red;
      }
    }
  }
}
