$themehue: 150;

body {
  background-color: hsl($themehue, 2%, 25%);
  line-height: 1;
}

#root {
  & * {
    box-sizing: border-box;
  }
  
  color: hsl($themehue, 0%, 80%);
  font-family: sans-serif;

  a {
    color: hsl($themehue, 80%, 70%);
    text-decoration: none;
  }

  .song {
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    .play-controls, .time, .bpm, .beat, .track-add {
      margin-right: 1rem;
    }

    .label {
      margin-right: 1rem;
    }
  } 

  .tracks {
    .track {
      align-items: flex-start;
      border-top: 1px solid hsl($themehue, 80%, 70%);
      display: flex;
      justify-content: flex-start;
      padding: 1rem;

      &-config {
        flex-shrink: 1;
        margin-right: 1rem;

        &-oscillator-frequency {
        }
      }

      .beats {
        flex-grow: 1;
      }
    }
  }

  .beats {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;

    .beat {
      width: 100%;
      height: 65px;

      border-bottom: 8px hsl($themehue, 0%, 30%) solid;
      border-radius: 2px;
      cursor: pointer;

      margin: 0 2px;

      transition: all .1s ease;

      &.active {
        border-color: hsl($themehue, 80%, 70%);
      }

      &.current {
        border-color: hsl($themehue, 80%, 80%);
      }

      &.active.current {
        background-color: hsl($themehue, 80%, 90%);
        transform: scale(1.1);
      }

      &:nth-child(4n-3) {
        border-top: 1px solid hsl($themehue, 0%, 70%);
        border-right: 1px solid hsl($themehue, 0%, 70%);
        border-left: 1px solid hsl($themehue, 0%, 70%);
      }

      &:nth-child(2n) {
        background-color: hsl($themehue, 0%, 35%);
        &:hover {
          background-color: hsl($themehue, 0%, 50%);
        }
      }

      &:nth-child(2n-1) {
        background-color: hsl($themehue, 0%, 40%);
        &:hover {
          background-color: hsl($themehue, 0%, 50%);
        }
      }
    }
  }
}
